<?xml version="1.0" ?>
<launch>
<!-- <node	
	pkg		= "average_tf"	
	type 	= "average_tf_node"
	name	=	"average_tf_1"
	args 	= "camera_rgb_optical_frame
					 ar_marker_0
					 ar_marker_11
					 ar_marker_68
					 ar_marker_79
					 camera_rgb_optical_frame
					 ar_marker_avg
					 50"
	output  =  "screen"
/> -->
<!-- 
<node	
	pkg		= "average_tf"	
	type 	= "average_tf_node"
	name	=	"average_tf_1"
	args 	= "/camera_color_optical_frame
					 ar_marker_1
					 ar_marker_3
					 ar_marker_5
					 ar_marker_7
					 /camera_color_optical_frame
					 ar_marker_avg
					 50"
	output  =  "screen"
/> -->

<node	
	pkg		= "average_tf"	
	type 	= "average_tf_node"
	name	=	"average_tf_1"
	args 	= "/camera_color_frame
					 ar_marker_1
					 ar_marker_3
					 ar_marker_5
					 ar_marker_7
					 /camera_color_frame
					 ar_marker_avg
					 50"
	output  =  "screen"
/>
<!--camera_rgb_optical_frame-->
<!--camera_robot-->
</launch>
